.ejr02pv {
    margin-top:-400px !important;
    right: 45px;
}

.pt-rte-bottom-wrapper > div > button,
.pt-rte-bottom-wrapper > div > button:hover
{
    border: 0px; 
    width: auto;
    height: auto;
    font-size: 30px;
    background-color: transparent;
}

.pt-emoji-select-button-wrapper > div > button,
.pt-emoji-select-button-wrapper > div > button:hover {
  
  padding: 0;
  width: 20px;
  height: 26px;
  font-family: 'Segoe UI Symbol';
  box-sizing: border-box;

  border: 0px;
  color: #0a2138;
  border-radius: 0px;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
}

.mac .pt-mention-button-wrapper {
    font-size: 20px;
}

.windows .pt-emoji-select-button-wrapper > div > button,
.windows .pt-emoji-select-button-wrapper > div > button:hover {
    margin: 0px 5px 0 5px;
    line-height: normal;  
    font-size: 18px;
    color: gray;
}

.mac .pt-emoji-select-button-wrapper > div > button,
.mac .pt-emoji-select-button-wrapper > div > button:hover {
    margin: 0px 5px 5px 5px;
    font-size: 18px;
    padding-top:4px;
    color:gray;
}

/* Customize the mention plugin CSS */

div[role="option"] >  img.m1mfvffo {
    vertical-align: baseline;
    width:25px;
    height: 25px; 
}

div[data-cy="form-container"] .mnw6qvm {
    transform: translate(15px, -289px) !important; 
    width: 90%;
    border-radius: 10px;
    padding:10px 8px 10px 8px;
}

div[data-cy="form-container"] .mnw6qvm div[role="option"] {
    border-radius: 8px; 
    padding: 8px 0px 0px 7px !important;
    line-height: 24px;
}

div[data-cy="form-container"] .myz2dw1{ 
    -webkit-transition:background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
    transition:background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
    background-color:#F3F5FF ;
}

div[data-cy="form-container"] .myz2dw1:active{
    background-color:#F3F5FF ;
}

div[data-cy="comments"] div[data-popper-reference-hidden="false"] {
    transform: translate(-1px, -130px) !important; 
    width: 95%;
    border-radius: 5px;
}

div[data-cy="form-container"] .mpqdcgq {
    vertical-align: text-bottom; 
    font-size:14px;
    color: #0D1740;
    padding-bottom: 2px;
}